:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.05), 0 6px 12px 0 rgba(#185ee0, 0.05);
  padding: 0.5rem;
  border-radius: 99px;
  * {
    z-index: 2;
  }
}

input[type='radio'] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 8rem;
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

input[type='radio'] {
  &:checked {
    & + label {
      color: var(--primary-color);
      & > .notification {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
  }
}

input[id='radio-1'] {
  &:checked {
    & ~ .glider {
      transform: translateX(0);
    }
  }
}

input[id='radio-2'] {
  &:checked {
    & ~ .glider {
      transform: translateX(100%);
    }
  }
}

input[id='radio-3'] {
  &:checked {
    & ~ .glider {
      transform: translateX(200%);
    }
  }
}

.glider {
  position: absolute;
  display: flex;
  height: 2.5rem;
  width: 8rem;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

.errorMessage {
  color: #bf1650;
}
.errorMessage::before {
  content: '⚠ ';
}
.formInput {
  //ml-6 rounded-md border-[0.13rem] border-[#dadce4] p-2 px-4 text-base font-normal text-black focus:outline-wiwynn-blue
  margin-left: 1.5rem;
  border-radius: 0.5rem;
  border: 0.13rem solid #dadce4;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  transition: 0.15s ease-in;
  // &:focus {
  //   outline: none;
  //   border-color: rgb(0, 108, 146);
  // }
  &:is(input).formInput:focus {
    outline: none;
    border-color: rgb(0, 108, 146);
  }
}
// :is(div).formInput {
//   background-color: #bf1650;
// }

.inputFullWidth {
  width: calc(100% - 1.5rem);
}

.radialIcon {
  background-image: radial-gradient(circle at center, white, rgba(142, 211, 0, 0.01));
}

.divOption {
  top: calc(100% - 0.25em);
  z-index: 1;
  background-color: white;
}
