@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .spuare {
    aspect-ratio: 1/1;
  }
}

$nav-height: 8vh;
$sidebar-width: 6.5vw;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
  // background: rgb(0 100 0 /0.1) !important;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@-moz-document url-prefix() {
  html,
  body {
    scrollbar-width: none;
  }
}

*:focus-visible {
  outline: 2px solid rgb(0, 108, 146);
  border-radius: 4px;
}

nav.header {
  height: $nav-height;
  flex-shrink: 0;
}

aside.sidebar-right {
  height: 100vh;
}

main {
  height: calc(100vh - #{$nav-height});
}

.dashboardWidth {
  width: calc(100vw - #{$sidebar-width});
}

.custom-w-fit {
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

/* All different kind of scrollbar css */
.scrollBarStyle {
  &::-webkit-scrollbar-track {
    background: #fbfbfb;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5466a06e;
    border-radius: 10px;
    border: 3px solid #f7f7f7;
  }
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-moz-scrollbar {
    scrollbar-width: auto;
    scrollbar-color: #5466a0 #f7f7f7;
  }
}
.scrollbarHide {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  width: 0.1em;
  height: 0.1em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
